<h2>Add a new restaurant</h2>
<form action="/restaurants" method="POST">
    <input class="m-2" type="text" placeholder="name" name="name" style="display: block">
    <input class="m-2" type="text" placeholder="category" name="category" style="display: block">
    <input class="m-2" type="text" placeholder="image" name="image" style="display: block">
    <input class="m-2" type="text" placeholder="location" name="location" style="display: block">
    <input class="m-2" type="text" placeholder="phone" name="phone" style="display: block">
    <input class="m-2" type="text" placeholder="google_map" name="google_map" style="display: block">
    <input class="m-2" type="number" placeholder="rating" name="rating" style="display: block">
    <input class="m-2" type="text" placeholder="description" name="description" style="display: block">
    <button class="m-2" type="submit">Add</button>
</form>